<!DOCTYPE html>
<html lang="ja">
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Yuji+Syuku&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

    <title>お品書き　那覇市久茂地の居酒屋 呑兵衛</title>

    <meta name="description" content="">
    <link rel="canonical" href="">

    <!--<link rel="icon" href="" sizes="16x16" type="image/png">
    <link rel="icon" href="" sizes="32x32" type="image/png">-->
    <link rel="icon" href="./images/favicon.png" sizes="62x62" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="" /><!--size:150x15--->

    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:site_name" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content="">
    <meta property="og:url" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="article:published_time" content="2021-11-12T04:42:02+00:00"/>
    <meta property="article:modified_time" content="2021-11-12T09:25:51+00:00"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content=""/>
    <meta name="twitter:title" content=""/>
    <meta name="twitter:image" content=""/>

    <link rel="stylesheet" href="./assets/reset.css">
    <link rel="stylesheet" href="./assets/style.css">
    <link rel="stylesheet" href="./assets/pc_style.css" media="screen and (min-width:481px)">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>

    <script src="./assets/script.js"></script>
</head>
<body class="w-f">
    <header class="header">
      <div class="logo-area">
        <a href="/">
          <p class="logo">
            <img src="./images/logo.svg" alt="" width="205" height="589" class="logo-img">
          </p>
        </a>
      </div><!--/logo-area-->
      <div id="b-menu">
        <!--ハンバーガーメニューのボタン-->
        <div class="hamburger_btn" v-on:click='ActiveBtn=!ActiveBtn'>
          <span class="line line_01" v-bind:class="{'btn_line01':ActiveBtn}"></span>
          <span class="line line_02" v-bind:class="{'btn_line02':ActiveBtn}"></span>
          <span class="line line_03" v-bind:class="{'btn_line03':ActiveBtn}"></span>
        </div><!--/#b-menu-->
        <!--サイドバー-->
        <transition name="menu">
          <div class="menu w-f" v-show="ActiveBtn">
              <ul>
                  <li><a href="#shinagaki" class="fs-m font-yuji">お品書き</a></li>
                  <li><a href="#floor" class="fs-m font-yuji">店内の写真</a></li>
                  <li><a href="#news" class="fs-m font-yuji">新着情報</a></li>
                  <li><a href="#info" class="fs-m font-yuji">店舗情報</a></li>
                  <li><a href="#" class="fs-m font-yuji">お問い合わせ</a></li>
              </ul>
          </div>
      </transition>
      </div>
    </header>
    <div class="content-wrapper w-f margin-btm-l">
      <div class="slider">
        <div id="app" class="margin-btm">
          <div class="slider-outer relative margin-btm-s w-f">
            <transition name="fade">
              <div class="slider-inner absolute" :key="idx" v-for="(slide, idx) in slides" v-if="current_slide == idx">
                <img class="slide-img" v-bind:src="slides[idx].img" :key="slides[idx].img" width="450" height="300">
              </div>
            </transition>
          </div>
          <div class="padding-xs margin-btm">
            <h1 class="title fs-ll align-center lh-s d-ib"><span class="fam-head d-ib font-yuji">お品書き</span></h1>
          </div>
        </div><!--/#app-->
      </div><!--/slider-->
      <div class="fader margin-btm-l padding-xs">
        <h2 class="mds padding-ym fs-l font-yuji">焼きもの</h2>
        <div id="fade" class="margin-btm">
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test5.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">焼鳥</h3>
              <p class="desc"><span>炭火で時間をかけて焼き上げた、</span><span>沖縄県産地鶏。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
              <div class="shinagaki-pic relative">
                <img src="./images/test6.jpg" alt="" srcset="" class="img">
              </div><!--/shinagaki-pic-->
              <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">えいひれ</h3>
                <p class="desc"><span>弱火でじっくり炙った、</span><span>濃い味のヒレ。</span></p>
                <p class="desc">¥400</p>
              </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test5.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">焼鳥</h3>
              <p class="desc"><span>炭火で時間をかけて焼き上げた、</span><span>沖縄県産地鶏。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test5.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">焼鳥</h3>
              <p class="desc"><span>炭火で時間をかけて焼き上げた、</span><span>沖縄県産地鶏。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test5.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">焼鳥</h3>
              <p class="desc"><span>炭火で時間をかけて焼き上げた、</span><span>沖縄県産地鶏。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
        </div><!--/fade-->
        <h2 class="mds padding-ym fs-l font-yuji">漬けもの</h2>
        <div id="fade" class="margin-btm">
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test2.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">漬物</h3>
              <p class="desc"><span>自家製のこだわり漬物。</span><span>歯応えがあり</span><span>お酒が</span><span>すすみます。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test3.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">珍味</h3>
              <p class="desc"><span>さっぱり味の</span><span>島らっきょうを、</span><span>温めて</span><span>お出しします。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test2.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">漬物</h3>
              <p class="desc"><span>自家製のこだわり漬物。</span><span>歯応えがあり</span><span>お酒が</span><span>すすみます。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
              <img src="./images/test2.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
              <h3 class="padding-ys">漬物</h3>
              <p class="desc"><span>自家製のこだわり漬物。</span><span>歯応えがあり</span><span>お酒が</span><span>すすみます。</span></p>
              <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
        </div><!--/fade-->
        <h2 class="mds padding-ym fs-l font-yuji">煮もの</h2>
        <div id="fade" class="margin-btm">
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/test4.jpg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">鍋もの</h3>
                <p class="desc"><span>朝から仕込み、</span><span>濃い出汁が</span><span>具によく</span><span>染みて</span><span>美味いです。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/ni.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">鍋もの</h3>
                <p class="desc"><span>朝から仕込み、</span><span>濃い出汁が</span><span>具によく</span><span>染みて</span><span>美味いです。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/ni.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">鍋もの</h3>
                <p class="desc"><span>朝から仕込み、</span><span>濃い出汁が</span><span>具によく</span><span>染みて</span><span>美味いです。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/ni.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">鍋もの</h3>
                <p class="desc"><span>朝から仕込み、</span><span>濃い出汁が</span><span>具によく</span><span>染みて</span><span>美味いです。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
        </div><!--/fade-->
        <h2 class="mds padding-ym fs-l font-yuji">さけ</h2>
        <div id="fade" class="margin-btm">
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/sake.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">泡盛</h3>
                <p class="desc"><span>琉球泡盛を</span><span>氷で割ります。</span><span>独特な</span><span>風味を</span><span>お楽しみください。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/sake_1.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">焼酎</h3>
                <p class="desc"><span>芋の香りが</span><span>濃い</span><span>最高の</span><span>焼酎です。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
          <div class="margin-btm-s">
            <div class="shinagaki-pic relative">
                <img src="./images/sake_2.jpeg" alt="" srcset="" class="img">
            </div><!--/shinagaki-pic-->
            <div class="shinagaki-desc w-f">
                <h3 class="padding-ys">ビール</h3>
                <p class="desc"><span>沖縄名物の</span><span>オリオン</span><span>ビール</span><span>です。</span></p>
                <p class="desc">¥400</p>
            </div><!--/shinagaki-desc-->
          </div><!--/margin-btm-s-->
        </div><!--/fade-->
      </div><!--/fader-->
      <div class="floor-wrap margin-btm-l relative">
        <div class="floor-container margin-btm-s">
          <div class="flex">
            <div class="floor-desc padding-ys">
              <p class="desc"><span>冬の味覚</span><span>〇〇〇〇を</span><span>厳選し調達しました。</span><span>この時期だけの</span><span>特別な品々を</span><span>ぜひご堪能ください。</span></p>
            </div>
            <h2 class="mds floor-mds fs-l font-yuji">期間限定</h2>
          </div>
          <div class="floor-pic-container relative flex">
            <p class="floor-pic first-floor">
              <img src="./images/yaki.jpg" alt="" srcset="">
            </p>
            <p class="floor-pic second-floor">
              <img src="./images/yaki_1.jpg" alt="" srcset="">
            </p>
          </div>
        </div>
      </div><!--/floor-wrap-->
      <div class="news padding-xs margin-btm-l">
        <h2 class="mds fs-l font-yuji padding-ym">新着情報</h2>
        <div class="tw">
          <a class="twitter-timeline" data-lang="ja" data-width="360" data-height="360" data-theme="light" href="https://twitter.com/webhann?ref_src=twsrc%5Etfw">Tweets by webhann</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="fb"></div>
      </div><!--/news-->
      <div class="infomation-wrapper">
        <h2 class="mds fs-l font-yuji padding-xs padding-ym">御予約</h2>
        <div class="info-container padding-xs">
          <dl class="info fs-m padding-ys">
            <dt>電話番号</dt>
            <dd class="lh-s margin-btm-s"><a href="tel:">098−123−4567<br>電話する</a></dd>
            <dt>メール</dt>
            <dd class="lh-s margin-btm-s"><a href="mailto:">nonbee-info@gmail.com<br>メールする</a></dd>
            <dt>営業時間</dt>
            <dd class="margin-btm-s">夜6：00〜深夜12：00</dd>
            <dt>定休日</dt>
            <dd class="margin-btm-s">日曜日・月曜日・年末年始</dd>
            <dt>座席数</dt>
            <dd class="margin-btm-s">60席</dd>
            <dt>お支払い</dt>
            <dd class="desc lh-s margin-btm-s"><span>現金・</span><span>PayPay・Suica・</span><span>クレジット（Visa/JCB/Master）</span></dd>
          </dl>
        </div><!--/info-container-->
      </div><!--/infomation-wrapper-->
    </div><!--/content-wrapper-->
    <footer class="footer bg-gc padding-ys align-center">
      <div class="footer-menu padding-ym margin-btm-s">
        <a href="" class="footer-menu-link">
          <p class="fs-m lh-s">お品書き一覧</p>
        </a>
        <a href="" class="footer-menu-link">
          <p class="fs-m lh-s">店内の写真</p>
        </a>
        <a href="" class="footer-menu-link">
          <p class="fs-m lh-s">新着情報<br>(Twitter)</p>
        </a>
        <a href="" class="footer-menu-link">
          <p class="fs-m lh-s">個人情報<br>保護方針</p>
        </a>
      </div>
      <small>&copy;呑兵衛&nbsp;All&nbsp;Rights&nbsp;Reserved.</small>
    </footer>
    <script src="./assets/bottom.js"></script>
</body>
</html>