@charset "utf-8";

html {

}

body {
    font-family: 'Noto Sans JP', sans-serif;
}
.logo-area {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    display: inline-block;
}
.logo {
    padding: 8px;
}
.logo-img {
    width: auto;
    height: 56px;
}
.hamburger_btn {
    position: fixed; /*常に最上部に表示したいので固定*/
    top: 0;
    right: 0;
    width: 70px;
    height: 72px;
    cursor: pointer;
    z-index: 50;
}
.hamburger_btn .line {
    position: absolute;
    top: 0;
    left: 20px;
    width: 32px;
    height: 2px;
    background: #f5e3d1;
    text-align: center;
}
.hamburger_btn .line_01 {
    top: 16px;
    transition: 0.4s ease;
}
.hamburger_btn .line_02 {
    top: 26px;
    transition: 0.4s ease;
}
.hamburger_btn .line_03 {
    top: 36px;
    transition: 0.4s ease;
}
.line_02:after {
    content: 'menu';
    display: inline-block;
    padding-top: 12px;
    width: 32px;
    font-size: 12px;
    color: #f5e3d1;
}
.btn_line01 {
    transform: translateY(10px) rotate(-45deg);
    transition: 0.4s ease;
}
.btn_line02 {
    transition: 0.4s ease;
    opacity: 0;
}
.btn_line03 {
    transform: translateY(-10px) rotate(45deg);
    transition: 0.4s ease;
}
/*サイドバー*/
.menu-enter-active, .menu-leave-active {
    transition: opacity 0.4s;
}
.menu-enter, .menu-leave-to {
    opacity: 0;
}
.menu-leave, .menu-enter-to{
    opacity: 1;
}
.menu li {
    list-style: none;
    line-height: 1;
    padding: 1rem;
}
.menu {
    background-color: rgba(255, 255, 255, 0.72);
    z-index: 30;
    padding: 2rem 1rem;
    position: fixed;
    width: 100%;
    height: 80rem;
    top: 0;
    right: 0;
}
.menu a {
    color: rgb(66, 66, 66);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0 2rem;
}
.menu ul{
    margin: 1rem;
    padding: 0;
}
.slider-outer{
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin: 0 auto 20px;
}
.slider-inner{
  position: absolute;
  width: 450px;
  height: 300px;
}
.slide-img {
  width: 450px;
  height: 300px;
  object-fit: cover;
}
.fade-enter-active, .fade-leave-active {/*fadeInアニメーションでも適用*/
  transition: all 2.4s ease;
}
.fade-enter, .fade-leave-to {/*fadeInアニメーションでも適用*/
  opacity: 0;
}
.title-area {
    width: 48%;
    padding: 16px;
}
.title {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
}
.title span {
    display: inline-block;
}
.block {
  width: 300px;
  height: 200px;
  background-color: red;
  margin: 10px;
  animation: fadeUp 1s ;
}
@keyframes fadeUp {
    from {
        transform: translateY(32px);
    }
    to {
        transform: translateY(0);
    }
}